# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\springboot-vue-master\springboot-vue-master\SpringBoot+Vue多图片上传和展示\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
